
body {
	font-family: 'Dosis', sans-serif;
	color: #747704;
	font-size: 18px;
	text-decoration: none;
	font-weight: 100;
	background-color: #FFF;
}
.progressjs-theme-blue .progressjs-inner{
	height: 2px;
	transition: all 0.3s ease-out;
	background-color: #3498db;
}

.main_size{
	width: 1180px;
	height: 260px;
}
.pros{
	height: 200px;
	width: 293px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)

}
#h3{
	text-align: center;
	margin-right: 64px;
}

.text-muted {
	color: #303030;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 50px;
}

.title-logo {
	margin-top: 20px;
}


.hr-thick {
height: 2px;
background-color: #BCBBBB;
color: #BCBBBB;
}


.img-bordered{

	border-bottom-color: #BCBBBB;
	border-bottom-width : 2px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #BCBBBB;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: #BCBBBB;
	border-right-style: solid;
	border-right-width: 2px;
	border-top-color: #BCBBBB;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 2px;
	box-sizing: border-box;


}
.cat{
	margin-right: 25px;
}

.linkedin{
	margin-right: 14px;
}